<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Length Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-textarea
    type="text"
    name="messages"
    inputmode="text"
    autoGrow="true"
    [maxlength]="isAvailable ? valueA : valueB"
    [(ngModel)]="messages">
  </ion-textarea>

</ion-content>
